<div class="row" style="margin-left: 7rem; margin-right: 7rem; margin-top: 1rem;">
  <div class="col-md">
    <a href="https://www.diamonddiagnostics.com/en/default.asp" target="_blank">
      <img src="assets/res/logo.png" alt="Diamond Logo" width=75% height=100% />
    </a>
  </div>
  <div class="col-md">
    <div class="container">
      <ul class="nav justify-content-end">
        <li class="nav-item"> <a class="nav-link" [routerLink]="['/home']"> Home </a> </li>
        <li class="nav-item"> <a class="nav-link" [routerLink]="['/login']" *ngIf="!isLoggedIn()"> Login </a> </li>
        <li class="nav-item"> <a class="nav-link" [routerLink]="['/account']" *ngIf="isLoggedIn()"> Account </a> </li>
      </ul>
    </div>
    <div class="container">
      <div class="input-group">
        <input type="text" class="form-control" id="search-bar" placeholder="Search..." />
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary"> <i class="fa fa-search"></i> </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <router-outlet> </router-outlet>
  </div>
</div>
