<ngb-tabset type="pills" class="nav-justified mt-2">
  <ngb-tab *ngFor="let obj of products">
    <ng-template ngbTabTitle> {{ obj.title }} </ng-template>
    <ng-template ngbTabContent>
      <hr />
      <div class="row">
        <div class="col-md-4 mb-5 text-center product-box" *ngFor="let product of obj.content">
          <hr />
          <img src={{product.img_src}} class="product-img" alt={{product.name.toLowerCase()}} />
          <h5> {{ product.name }} </h5>
          <small> {{ product.store_id }} </small>
          <br />
          <button class="btn btn-success mt-2 mb-2" *ngIf="loggedIn" (click)="sendCartRequest(product)"> Add to Cart </button>
          <hr />
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
