<ngb-tabset type="pills" class="nav-justified mt-2">
  <ngb-tab *ngFor="let obj of products">
    <ng-template ngbTabTitle> {{ obj.title }} </ng-template>
    <ng-template ngbTabContent>
      <hr />
      <div class="row">
        <div class="col mr-1 ml-1 text-center product-box" *ngFor="let product of obj.content">
          <img src={{product.img_id}} class="product-img" alt={{product.title.toLowerCase()}} />
          <h4> {{ product.title }} </h4>
          <small> {{ product.store_id }} </small>
          <br />
          <button class="btn btn-success mt-2 mb-2" *ngIf="loggedIn" (click)="sendCartRequest(product)"> Add to Cart </button>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
